
@keyframes aparecer{
    0%{
    opacity: 0;
    }
    100%{
    opacity: 1;
   
    }
}
    @keyframes shadow{
        100%{
        shadow: 1;
        }
        0%{
        shadow: 0;
        text-shadow: 0 0 72px black; 
        color: transparent; 
        }
       }