
$colores:(
    primario:rgba(248,165,2,255),
    secundario:black,
    C3:white,
    btnForm: hwb(0 30% 69%),
);

$btn:(
    padding: 10px 30px,
    border:0,
    radio:5px,
    margen:8px,
    fondo:hwb(0 30% 69%),
    bordeColor: Black,
   

   
    
);